body{overflow:visible}audio,canvas,video{display:inline;zoom:1}img{-ms-interpolation-mode:bicubic}pre{word-wrap:break-word}legend{margin-left:-7px}button{width:auto;overflow:visible}.clearfix,.grid-block{zoom:1}.width16{width:16.64%}.width20{width:19.97%}.width25{width:24.97%}.width33{width:33.31%}.width40{width:39.97%}.width50{width:49.97%}.width60{width:64.97%}.width66{width:66.64%}.width75{width:74.97%}.width80{width:79.97%}.wrapper{min-width:900px}#header{z-index:10}.menu-dropdown a>span{cursor:pointer}.menu-dropdown li.level1:hover,
.menu-dropdown .dropdown-bg,
.menu-dropdown li.level3
.level3{zoom:1}.menu-sidebar a.level1 > span,
.menu-sidebar span.level1>span{zoom:1;cursor:pointer}.menu-line li,
.menu-line li
a{display:inline}.tagcloud
li{display:inline}#block-toolbar,
#content,
.content-whitebg #content,
.content-whitebg #content > div,
.mod-metal > div,
.mod-metal ul.zebra>li.odd,.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download{behavior:url("/LEDG/templates/yoo_catalyst/warp/js/css3pie.htc")}#content,
.content-whitebg #content,
.content-whitebg #content > div,
.mod-metal > div,
.mod-metal ul.zebra>li.odd,.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download{position:relative}#block-bottom+#block-footer{zoom:1}#content,
.content-whitebg #content,
.content-whitebg #content>div{border-radius:0}#block-header{z-index:2}.mod-metal>div{border-radius:0}a.button-more,
.mod-metal a.button-more{margin:0}.searchbox
input{line-height:35px}.searchbox .results
li.result{background:url("/LEDG/templates/yoo_catalyst/images/menu_dropdown_level2_bg.png") 0 0 repeat}